<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="card" style="width: 35rem; margin: auto; top: 200px;">
        <div class="card-body">
            <h1>Cadastro</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                </div>
                <input id="name" type="text" class="form-control" aria-label="Exemplo do tamanho do input"
                    aria-describedby="inputGroup-sizing-default" maxlength="80">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cargo</span>
                </div>
                <input id="role" type="text" class="form-control" aria-label="Exemplo do tamanho do input"
                    aria-describedby="inputGroup-sizing-default" maxlength="80">
            </div>
            <div>
                <button id="save" class="btn btn-primary">Cadastrar</button>
                <button class="btn btn-primary" onclick="location.href='../index.html';">Home</button>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../jQuery/jQuery.js"></script>
    <script src="../axios/axios.min.js"></script>
    <script src="../service.js"></script>
</body>

</html>