<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Cadastro</h1>
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" maxlength="80">
    </div>
    <div>
        <label for="role">Cargo:</label>
        <input type="text" name="role" id="role" maxlength="80">
    </div>
    <div>
        <button id="save">Cadastrar</button>
    </div>
    <button id="getAll">Listar</button>
    <a href="../index.html">Home</a>
    <div id="resultado"></div>
</body>
<script src="../jQuery/jQuery.js"></script>
<script src="../service.js"></script>

</html>